<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>OpenMutualPlatform--study</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/index/swiper.min.css" />
    <link href="https://cdn.bootcss.com/zui/1.8.1/css/zui.min.css" rel="stylesheet">
    <link href="css/index/study.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/common.css" />
</head>

<body>
    <!-- 导航 -->
    <header class="header">
        <div class="container clearfix">
            <div class="left">
                <a href="#"><img src="image/logo.png" alt="" class="img1" /></a>
            </div>
            <p class="header-p">Open Mutual Platform</p>
            <div class="nav">
                <ul class="navbar_nav" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="active">
                        <a href="javascript:void(0)">首页</a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)">
                            功能一
                        </a>
                        <div class="dropdown_menu">
                            <a href="#">Menu-one</a>
                            <a href="#">Menu-two</a>
                            <a href="#">Menu-three</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)">功能二</a>
                        <div class="dropdown_menu">
                            <a href="#">Custom Menu</a>
                            <a href="#">Custom Menu</a>
                            <a href="#">Custom Menu</a>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)">资讯</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">登陆</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">注册</a>
                    </li>
                </ul>
            </div>
            <a href="javascript:void(0)" id="navToggle">
                <span></span>
            </a>
        </div>
    </header>
    <!--移动端的导航-->
    <div class="m_nav">
        <div class="top clearfix">
            <img src="image/closed.png" alt="" class="closed" />
        </div>
        <div class="logo">
            <img src="image/logo.png" alt="" />
            <p>Open Mutual Playform</p>
        </div>
        <ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="active">
                <a href="javascript:void(0)">首页</a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">
                    功能一
                </a>
                <div class="dropdown_menu">
                    <a href="#">Menu-one</a>
                    <a href="#">Menu-two</a>
                    <a href="#">Menu-three</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">功能二</a>
                <div class="dropdown_menu">
                    <a href="#">Custom Menu</a>
                    <a href="#">Custom Menu</a>
                    <a href="#">Custom Menu</a>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)">资讯</a>
            </li>
            <li>
                <a href="javascript:void(0)">登陆</a>
            </li>
            <li>
                <a href="javascript:void(0)">注册</a>
            </li>
        </ul>
    </div>
    <!--banner-->
    <div class="banner">
        <img src="image/banner/04.jpg">
    </div>
    <!--main-->
    <div class="main">
        <div class="container">
            <!--描述-->
            <section class="describe">
                <p>开启学习之旅</p>
                <h4>欢迎你开启了新的冒险，在这里你可以找到许多有趣的想法和宝贵的资源，现在开始你的冒险吧</h4>
            </section>
            <!--类型导航-->
            <section class="main-nav">
                <nav class="navbar" role="navigation">
                    <div class="container-fluid">
                      <!-- 导航头部 -->
                      <div class="navbar-header">
                        <!-- 移动设备上的导航切换按钮 -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
                          <span class="sr-only">切换导航</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <!-- 品牌名称或logo -->
                        <a class="navbar-brand" href="#">OPEN MUTUAL PLATFORM</a>
                      </div>
                      <!-- 导航项目 -->
                      <div class="collapse navbar-collapse navbar-collapse-example">
                        <!-- 一般导航项目 -->
                        <ul class="nav navbar-nav">
                          <li class="active"><a href="#">灵感</a></li>
                          <li><a href="#">资源</a></li>
                          <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="搜索">
                            </div>
                            <button type="submit" class="btn btn-default">搜索</button>
                          </form>
                        </ul>
                      </div><!-- END .navbar-collapse -->
                    </div>
                  </nav>
            </section>
            <!--列表-->
            <section class="content">
                <div class="list">
                    <header>
                        <h3 style="display:inline-block"><i class="icon-list-ul"></i> 编辑推荐<small></small></h3>
                        <span class="text-muted" id="time"></span>
                    </header>
                    <div class="items items-hover" id="vue_item">
                        <div class="item">
                            <div class="item-heading">
                                <div class="pull-right"><span class="text-muted">2013-11-11 16:14:37</span> &nbsp; <a
                                        href="#" class="text-muted"><i class="icon-comments"></i> 243</a></div>
                                <h4><a href="###">HTML5 发展历史</a></h4>
                            </div>
                            <div class="item-content">
                                <div class="text">HTML 5草案的前身名为Web Applications
                                    1.0，是在2004年由WHATWG提出。2008年1月22日，第一份正式草案发布。WHATWG表示该规范是目前仍在进行的工作，仍须多年的努力。[8]目前Mozilla
                                    Firefox、Google Chrome、Opera、Safari（版本4以上）、Internet Explorer（版本9以上）已支持HTML5技术。</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-heading">
                                <div class="pull-right"><span class="text-muted">2013-11-11 16:14:37</span> &nbsp; <a
                                        href="#" class="text-muted"><i class="icon-comments"></i> 243</a></div>
                                <h4><a href="###">人工智能项目</a></h4>
                            </div>
                            <div class="item-content">
                                <div class="text">发布SaaS加速器：我们不做SaaS，我们只做SaaS生态的推进者和守护者 </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-heading">
                                <div class="pull-right"><span class="text-muted">2013-11-11 16:14:37</span> &nbsp; <a
                                        href="#" class="text-muted"><i class="icon-comments"></i> 243</a></div>
                                <h4><a href="###">寻找 K8s 1.14 Release 里的“蚌中之珠” </a></h4>
                            </div>
                            <div class="item-content">
                                <div class="text">Kubernetes 1.14.0 Release 已经于3月25日正式发布。相信你也已经注意到，相比于1.13 和 1.12 版本，这次发布包含的重要变更非常多，其对应的 Release Note 的篇幅长度也创下了“新高”。
                                    面对这样一份“海量信息”的 Release Note，我们该如何从这份文档里进行高效的信息过滤和挖掘，帮助团队更精准、快速的梳理出这次发布最主要的技术脉络呢？</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-heading">
                                <div class="pull-right"><span class="text-muted">2013-11-11 16:14:37</span> &nbsp; <a
                                        href="#" class="text-muted"><i class="icon-comments"></i> 243</a></div>
                                <h4><a href="###">游戏、零售等行业服务单元化部署场景下低成本单库单服解决方案 </a></h4>
                            </div>
                            <div class="item-content">
                                <div class="text">摘要： 在创业型公司或阿米巴模式经营的公司，新项目发布初期存在较大的不确定性，既要考虑项目未来的扩展性，又要衡量项目的运营成本。本解决方案为客户提供低成本，敏捷快捷的最佳实践。 </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-heading">
                                <div class="pull-right"><span class="text-muted">2013-11-11 16:14:37</span> &nbsp; <a
                                        href="#" class="text-muted"><i class="icon-comments"></i> 243</a></div>
                                <h4><a href="###">极简日志的分析方法 </a></h4>
                            </div>
                            <div class="item-content">
                                <div class="text">摘要： 极简模式是按照行为单位，把一行日志打包作为一个字段上传到日志服务。对于用户而言，极简模式避免了去配置复杂的正则式，极大的简化了日志接入云端的流程，上传后只需要开启全文索引即可完成搜索。 但是，在某些场景下，我们需要对日志中的某些部分进行分析，例如分析日志中的ip，这种情况下，就需要通过SQL先完成一些字段提取工作，然后再进行分析。 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="load-indicator loading" style="width: 100px; height: 100px; background: #eee"></div>
            </section>
        </div>
    </div>
    <!-- 尾部-->
    <footer class="footer">
        <div class="container">
            <div class="footer-p">
                <p>©2018-2019 Powered By open-mutual-platform team</p>
            </div>
        </div>
    </footer>

    <!--js-->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/zui/1.8.1/js/zui.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script>
        $(function () {
            //超过一定高度导航添加类名
            var nav = $("header"); //得到导航对象  
            var win = $(window); //得到窗口对象  
            var sc = $(document); //得到document文档对象。  
            win.scroll(function () {
                if (sc.scrollTop() >= 100) {
                    nav.addClass("on");
                } else {
                    nav.removeClass("on");
                }
            })

            //移动端展开nav
            $('#navToggle').on('click', function () {
                $('.m_nav').addClass('open');
            })
            //关闭nav
            $('.m_nav .top .closed').on('click', function () {
                $('.m_nav').removeClass('open');
            })

            //二级导航  移动端
            $(".m_nav .ul li").click(function () {
                $(this).children("div.dropdown_menu").slideToggle('slow')
                $(this).siblings('li').children('.dropdown_menu').slideUp('slow');
            });

        })
    </script>
    <script type="text/javascript">
        //日期更新
        function getNow(s) {
            return s < 10 ? '0' + s : s;
        }

        var myDate = new Date();
        //获取当前年
        var year = myDate.getFullYear();
        //获取当前月
        var month = myDate.getMonth() + 1;
        //获取当前日
        var date = myDate.getDate();
        var h = myDate.getHours(); //获取当前小时数(0-23)
        var m = myDate.getMinutes(); //获取当前分钟数(0-59)
        var s = myDate.getSeconds();

        var now = year + '-' + getNow(month) + "-" + getNow(date) + " " + getNow(h) + ':' + getNow(m) + ":" + getNow(s);

        $(document).ready(function () {
            $("#time").append(now);
        })
    </script>
    <script>
        //滚动加载
        $(window).scroll(
            function(){
                let scrollTop=$(this).scrollTop();
                let scrollHeight=$(document).height();
                let windowHeight=$(this).height();
                if(scrollTop+windowHeight==scrollHeight){
                    alert("加载下一页内容");
                   // document.querySelector("#loadIndicator1").classList.add("loading");
                   /* $.post("url",function(data){
                        alert("加载成功");
                    })*/
                }
                $.ajaxSettings.async=false;
            }
        )
    </script>
</body>

</html>