<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="styelsheet" href="css/zui.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/index/article.css" />
    <link rel="stylesheet" href="css/zui-theme.min.css" />
    <link rel="stylesheet" href="css/zui.lite.min.css" />
    <script src="js/jquery/jquery.min.js"></script>
    <title>文章</title>
</head>

<body>
    <!-- 导航 -->
    <header class="header">
        <div class="container clearfix">
            <div class="left">
                <a href="#"><img src="image/logo.png" alt="" class="img1" /></a>
            </div>
            <p class="header-p">Open Mutual Platform</p>
            <div class="nav">
                <ul class="navbar_nav" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="active">
                        <a href="javascript:void(0)">首页</a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)">
                            功能一
                        </a>
                        <div class="dropdown_menu">
                            <a href="#">Menu-one</a>
                            <a href="#">Menu-two</a>
                            <a href="#">Menu-three</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)">功能二</a>
                        <div class="dropdown_menu">
                            <a href="#">Custom Menu</a>
                            <a href="#">Custom Menu</a>
                            <a href="#">Custom Menu</a>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)">资讯</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">登陆</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">注册</a>
                    </li>
                </ul>
            </div>
            <a href="javascript:void(0)" id="navToggle">
                <span></span>
            </a>
        </div>
    </header>
    <!--移动端的导航-->
    <div class="m_nav">
        <div class="top clearfix">
            <img src="image/closed.png" alt="" class="closed" />
        </div>
        <div class="logo">
            <img src="image/logo.png" alt="" />
            <p>Open Mutual Playform</p>
        </div>
        <ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="active">
                <a href="javascript:void(0)">首页</a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">
                    功能一
                </a>
                <div class="dropdown_menu">
                    <a href="#">Menu-one</a>
                    <a href="#">Menu-two</a>
                    <a href="#">Menu-three</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">功能二</a>
                <div class="dropdown_menu">
                    <a href="#">Custom Menu</a>
                    <a href="#">Custom Menu</a>
                    <a href="#">Custom Menu</a>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)">资讯</a>
            </li>
            <li>
                <a href="javascript:void(0)">登陆</a>
            </li>
            <li>
                <a href="javascript:void(0)">注册</a>
            </li>
        </ul>
    </div>
    <!--main-->
    <div class="banner">
        <img src="image/article/nav-banner.png">
    </div>
    <div class="main">
        <div class="container">
            <section class="left">
                <article class="article">
                    <header>
                        <h1 class="text-center">HTML5</h1>
                        <dl class="dl-inline">
                            <dt>来源：</dt>
                            <dd>维基百科</dd>
                            <dt>最后修订：</dt>
                            <dd>2016年8月12日 (星期五) 12:53</dd>
                            <dt></dt>
                            <dd class="pull-right"><span class="label label-success">HTML</span> <span
                                    class="label label-warning">网页设计</span> <span class="label label-info">W3C</span>
                                <span class="label label-danger"><i class="icon-eye-open"></i> 235</span></dd>
                        </dl>
                        <section class="abstract">
                            <p><strong>摘要：</strong>HTML5是HTML最新的修订版本，2014年10月由万维网联盟（W3C）完成标准制定。目标是替换1999年所制定的HTML
                                4.01和XHTML
                                1.0标准，以期能在互联网应用迅速发展的时候，使网络标准达到匹配当代的网络需求。广义论及HTML5时，实际指的是包括HTML、CSS和JavaScript在内的一套技术组合。
                            </p>
                        </section>
                    </header>
                    <section class="content">
                        <p>HTML5是HTML最新的修订版本，2014年10月由<a
                                href="https://zh.wikipedia.org/wiki/%E4%B8%87%E7%BB%B4%E7%BD%91%E8%81%94%E7%9B%9F"
                                target="_blank">万维网联盟</a>（W3C）完成标准制定。目标是替换1999年所制定的HTML 4.01和XHTML
                            1.0标准，以期能在互联网应用迅速发展的时候，使网络标准达到匹配当代的网络需求。广义论及HTML5时，实际指的是包括HTML、CSS和JavaScript在内的一套技术组合。它希望能够减少网页浏览器对于需要插件的丰富性网络应用服务（Plug-in-Based
                            Rich Internet Application，RIA），例如：AdobeFlash、Microsoft Silverlight与Oracle
                            JavaFX的需求，并且提供更多能有效加强网络应用的标准集。</p>
                        <h2>发展历史</h2>
                        <p>HTML 5草案的前身名为Web Applications
                            1.0，是在2004年由WHATWG提出。2008年1月22日，第一份正式草案发布。WHATWG表示该规范是目前仍在进行的工作，仍须多年的努力。[8]目前Mozilla
                            Firefox、Google Chrome、Opera、Safari（版本4以上）、Internet Explorer（版本9以上）已支持HTML5技术。</p>
                        <p>2014年10月28日，W3C正式发布HTML5.0推荐标准。</p>
                        <img src="image/index/man3.webp" alt="">
                        <h3>标准化进程</h3>
                        <p>2004年6月，Mozilla基金会和Opera软件公司在万维网联盟（W3C）所主办的研讨会上提出了一份联合建议书，这份提案主要针对该技术能向下兼容浏览器的同时，也可以扩展更多新技术[17]，其中Web
                            Forms
                            2.0初步规范草案被提出，但因W3C已着力于XHTML的发展，故此建议书于8票赞成，14票反对下被否决[18]，这引起部分人的不满，不久后，一些厂商宣布成立网页超文本技术工作小组（WHATWG）组织，以继续推动该规范的开发工作，该组织再度提出Web
                            Applications 1.0规范草案，后来这两种规范逐渐合并成今天的HTML5。2007年，获得W3C接纳，并成立了新的HTML工作团队。</p>
                        <h3>2014计划</h3>
                        <p>2012年9月，W3C提出计划要在2014年底前发布一个HTML5推荐标准，并在2016年底前发布HTML5.1推荐标准。</p>
                        <h4>核心HTML标准</h4>
                        <p>HTML5.0，HTML5.1和HTML5.2的合并时间表：</p>
                        <h2>新应用程序接口（API）</h2>
                        <p>除了原先的DOM接口，HTML5增加了更多样化的应用程序接口（API）：</p>
                        <ul>
                            <li>
                                即时二维绘图
                                <ul>
                                    <li>Canvas API：有关动态产出与渲染图形、图表、图像和动画的API</li>
                                </ul>
                            </li>
                            <li>定时媒体播放</li>
                            <li>离线存储数据库（离线网络应用程序）</li>
                            <li>编辑</li>
                            <li>拖放</li>
                        </ul>
                    </section>
                    <footer>
                        <p class="pull-right text-muted">本文在知识共享 署名-相同方式共享 3.0协议之条款下提供。</p>
                        <p class="text-important">本文节选自 Wikipedia HTML5 词条。</p>
                        <ul class="pager pager-justify">
                            <li class="previous"><a target="_blank"
                                    href="https://zh.wikipedia.org/wiki/Category:HTML"><i class="icon-arrow-left"></i>
                                    HTML</a></li>
                            <li class="next disabled"><a target="_blank"
                                    href="https://zh.wikipedia.org/wiki/Category:W3C%E6%A0%87%E5%87%86">W3C 标准 <i
                                        class="icon-arrow-right"></i></a></li>
                        </ul>
                    </footer>
                </article>
            </section>
            <section class="right">
                <div class="persion">
                    <a class="card" href="###">
                        <div class="card-head">达人介绍</div>
                        <hr />
                        <img src="image/index/man1.webp" class="img-circle" alt="圆形图片">
                        <div class="card-heading" style="color:#494c51"><strong>张无忌</strong></div>
                        <div class="card-content text-muted">分享《九阳真经》，一起研究"乾坤大挪移",加入明教团队</div>
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger share_button" style="margin-left:0"><i
                                    class="icon-heart"></i> 喜欢</button>
                            <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520 人喜欢</div>
                        </div>
                    </a>
                </div>
                <div class="other_article">
                    <a class="card" href="###">
                        <div class="card-head">作者其他文章</div>
                        <hr />
                        <ul>
                            <li>
                                <a href="/articles/695746">SaaS加速器 III 技术中心：提供SaaS
                                    Launchkit，快速定制，一云多端等能力，一云多端将通过小程序云实现</a>
                            </li>
                            <li>
                                <a href="/articles/695744">SaaS加速器 I 商业中心:提供商业助力 共享商业成功</a>
                            </li>
                            <li>
                                <a href="/articles/695561">“练好内功坚持被集成”，阿里云发布SaaS加速器</a>
                            </li>
                            <li>
                                <a href="/articles/691448">畅游采购季，就用云分期！两成首付，轻松上云！</a>
                            </li>
                            <li>
                                <a href="/articles/688548">阿里云数字化转型方案再升级，移动研发平台EMAS助力海底捞超级App“云上捞”</a>
                            </li>
                            <li>
                                <a href="/articles/688270">浙江信访，从统一到智能的互联网转型之路</a>
                            </li>
                            <li>
                                <a href="/articles/672159">揭秘天猫双11背后：20万商家600万张海报，背后只有一个鹿班</a>
                            </li>
                            <li>
                                <a href="/articles/672156">阿里云云效如何保障双11大型项目管理</a>
                            </li>
                            <li>
                                <a href="/articles/672155">阿里云移动研发平台EMAS，是如何连续5年安全护航双11的？</a>
                            </li>
                        </ul>
                    </a>
                </div>
            </section>
        </div>
        <section class="bottom">
            <div class="comments">
                <header>
                    <h3>所有评论</h3>
                </header>
                <section class="comments-list">
                    <div class="comment">
                        <a href="###" class="avatar">
                            <i class="icon-camera-retro icon-2x"></i>
                        </a>
                        <div class="content">
                            <div class="pull-right text-muted">3 个小时前</div>
                            <div><a href="###"><strong>张士超</strong></a></div>
                            <div class="text">今天玩的真开心！~~~~~~</div>
                            <div class="actions">
                                <a href="##">回复</a>
                            </div>
                        </div>
                        <div class="comments-list">
                            <div class="comment">
                                <a href="###" class="avatar">
                                    <i class="icon-user icon-2x"></i>
                                </a>
                                <div class="content">
                                    <div class="pull-right text-muted">2 个小时前</div>
                                    <div><a href="###"><strong>Catouse</strong></a> <span class="text-muted">回复</span>
                                        <a href="###">张士超</a></div>
                                    <div class="text">你到底把我家钥匙放哪里了...</div>
                                    <div class="actions">
                                        <a href="##">回复</a>
                                    </div>
                                </div>
                                <div class="comments-list">
                                    <div class="comment">
                                        <a href="###" class="avatar">
                                            <i class="icon-yinyang icon-2x"></i>
                                        </a>
                                        <div class="content">
                                            <div class="pull-right text-muted">1 个小时前</div>
                                            <div><a href="###"><strong>门口大爷</strong></a> <span
                                                    class="text-muted">回复</span> <a href="###">Catouse</a></div>
                                            <div class="text">不在我这儿...</div>
                                            <div class="actions">
                                                <a href="##">回复</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <a href="###" class="avatar">
                                            <i class="icon-cube-alt icon-2x"></i>
                                        </a>
                                        <div class="content">
                                            <div class="pull-right text-muted">1 个小时前</div>
                                            <div><a href="###"><strong>队长</strong></a> <span
                                                    class="text-muted">回复</span> <a href="###">Catouse</a></div>
                                            <div class="text">也不在我这儿...</div>
                                            <div class="actions">
                                                <a href="##">回复</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <a href="###" class="avatar">
                                    <i class="icon-heart-empty icon-2x"></i>
                                </a>
                                <div class="content">
                                    <div class="pull-right text-muted">30 分钟前</div>
                                    <div><a href="###"><strong>华师大第一美女</strong></a> <span class="text-muted">回复</span>
                                        <a href="###">张士超</a></div>
                                    <div class="text">很开心~~~</div>
                                    <div class="actions">
                                        <a href="##">回复</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <footer>
                    <div class="reply-form" id="commentReplyForm2">
                        <a href="###" class="avatar"><i class="icon-user icon-2x"></i></a>
                        <form class="form">
                            <div class="form-group">
                                <textarea class="form-control new-comment-text" rows="2"
                                    placeholder="撰写评论..."></textarea>
                            </div>
                            <button class="btn btn-primary" type="button">评论</button>
                        </form>
                    </div>
                </footer>
            </div>
        </section>
    </div>
    <!-- 尾部-->
    <footer class="footer">
        <div class="container">
            <div class="footer-p">
                <p>©2018-2019 Powered By open-mutual-platform team</p>
            </div>
        </div>
    </footer>

    <!--js-->
    <script src="js/zui.min.js"></script>
    <script>
        $(function () {
            //超过一定高度导航添加类名
            var nav = $("header"); //得到导航对象  
            var win = $(window); //得到窗口对象  
            var sc = $(document); //得到document文档对象。  
            win.scroll(function () {
                if (sc.scrollTop() >= 100) {
                    nav.addClass("on");
                } else {
                    nav.removeClass("on");
                }
            })

            //移动端展开nav
            $('#navToggle').on('click', function () {
                $('.m_nav').addClass('open');
            })
            //关闭nav
            $('.m_nav .top .closed').on('click', function () {
                $('.m_nav').removeClass('open');
            })

            //二级导航  移动端
            $(".m_nav .ul li").click(function () {
                $(this).children("div.dropdown_menu").slideToggle('slow')
                $(this).siblings('li').children('.dropdown_menu').slideUp('slow');
            });

        })
    </script>
</body>

</html>