<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>OpenMutualPlatform</title>
	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/index/swiper.min.css" />
	<link href="css/zui.css" rel="stylesheet">
	<link rel="stylesheet" href="css/index/index.css" />
	<link rel="stylesheet" href="css/common.css" />
</head>

<body>
    <!-- 导航 -->
    <header class="header">
	<div class="container clearfix">
		<div class="left">
			<a href="index.html"><img src="image/logo.png" alt="" class="img1" /></a>
		</div>
		<p class="header-p">Open Mutual Platform</p>
		<div class="nav">
			<ul class="navbar_nav" data-in="fadeInDown" data-out="fadeOutUp">
				<li class="active">
					<a href="index.html">首页</a>
				</li>
				<li>
					<a href="study.html">study</a>
				</li>
				<li>
					<a href="share.html">share</a>
				</li>
				<li>
					<a href="javascript:void(0)">team</a>
				</li>
				<li>
					<a href="user.html">个人主页</a>
				</li>
				<li>
					<a href="login.html">登陆</a>
				</li>
			</ul>
		</div>
		<!--登陆后个人信息-->
		<div id="nav_user" class="header_nav_persion">
			<a href="#" class="">
				<img width="40" height="40" src="image/index/man3.webp" id="header_nav_img">
			</a>
			<div class="menu" id="header_nav_menu" style="height:0;overflow:hidden">
				<div class="group"><a href="/friends/weibo/"<span class="icon icon-user"></span>个人中心</a></div>
				<div class="group"><a href="/settings/"><span class="icon icon-cogs"></span>帐号设置</a></div>
				<div class="group"><a href="#"><span class="icon icon-signin"></span>退出</a></div>
			</div>
		</div>
		<a href="javascript:void(0)" id="navToggle">
			<span></span>
		</a>
	</div>
</header>
	<!--移动端的导航-->
	<div class="m_nav">
		<div class="top clearfix">
			<img src="image/closed.png" alt="" class="closed" />
		</div>
		<div class="logo">
			<img src="image/logo.png" alt="" />
			<p>Open Mutual Playform</p>
		</div>
		<ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
			<li class="active">
				<a href="index.html">首页</a>
			</li>
			<!--<li class="dropdown">-->
			<!--<a href="st'">-->
			<!---->
			<!--</a>-->
			<!--&lt;!&ndash;<div class="dropdown_menu">&ndash;&gt;-->
			<!--&lt;!&ndash;<a href="#">Menu-one</a>&ndash;&gt;-->
			<!--&lt;!&ndash;<a href="#">Menu-two</a>&ndash;&gt;-->
			<!--&lt;!&ndash;<a href="#">Menu-three</a>&ndash;&gt;-->
			<!--&lt;!&ndash;</div>&ndash;&gt;-->
			<!--</li>-->
			<li class="dropdown">
				<a href="study.html)">study</a>
				<!--<div class="dropdown_menu">-->
				<!--<a href="#">Custom Menu</a>-->
				<!--<a href="#">Custom Menu</a>-->
				<!--<a href="#">Custom Menu</a>-->
				<!--</div>-->
			</li>
			<li>
				<a href="share.html">share</a>
			</li>
			<li>
				<a href="javascript:void(0)">team</a>
			</li>
			<li>
				<a href="user.html">个人主页</a>
			</li>
			<li>
				<a href="login.html">登录</a>
			</li>
		</ul>
	</div>
	<!--main-->
	<div class="main">
		<!--轮播-->
		<section class="banner">
			<div id="myNiceCarousel" class="carousel slide" data-ride="carousel">
				<!-- 圆点指示器 -->
				<ol class="carousel-indicators">
					<li data-target="#myNiceCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myNiceCarousel" data-slide-to="1"></li>
					<li data-target="#myNiceCarousel" data-slide-to="2"></li>
				</ol>

				<!-- 轮播项目 -->
				<div class="carousel-inner">
					<div class="item active">
						<img alt="First slide" src="image/banner/01.jpg">
						<div class="carousel-caption">
							<!-- <h3>图片来源：花瓣网</h3> -->
							<!-- <p>:)</p> -->
						</div>
					</div>
					<div class="item">
						<img alt="Second slide" src="image/banner/02.jpg">
						<div class="carousel-caption">
							<!-- <h3>图片来源：花瓣网</h3> -->
							<!-- <p>0.0</p> -->
						</div>
					</div>
					<div class="item">
						<img alt="Third slide" src="image/banner/03.jpg">
						<div class="carousel-caption">
							<!-- <h3>图片来源：花瓣网</h3> -->
							<!-- <p>最后一张咯~</p> -->
						</div>
					</div>
				</div>

				<!-- 项目切换按钮 -->
				<a class="left carousel-control" href="#myNiceCarousel" data-slide="prev">
					<span class="icon icon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#myNiceCarousel" data-slide="next">
					<span class="icon icon-chevron-right"></span>
				</a>
			</div>
		</section>
		<!--入口-->
		<section class="entrance">
			<div class="container">
				<div class="top">
					<h1>选择下方开启传送门</h1>
				</div>
				<div class="down">
					<div class="down-entrance">
						<a href="study.html"><img src="image/index/icon1.png" alt="" width="200px" height="200px"
								class="img-circle"></a>
						<a class="card" href="study.html">
							<div class="card-heading"><strong>Study Go</strong></div>
							<div class="card-content text-muted">开始学习之旅吧</div>
						</a>
					</div>
					<div class="down-entrance">
						<a href="share.html"><img src="image/index/icon2.png" alt="" width="200px" height="200px"
								class="img-circle"></a>
						<a class="card" href="share.html">
							<div class="card-heading"><strong>Share Idea</strong></div>
							<div class="card-content text-muted">和他人分享你的想法和项目</div>
						</a>
					</div>
					<div class="down-entrance">
						<a href="#"><img src="image/index/icon3.png" alt="" width="200px" height="200px"
								class="img-circle"></a>
						<a class="card" href="###">
							<div class="card-heading"><strong>Find Team</strong></div>
							<div class="card-content text-muted">找一些志同道合的小伙伴吧</div>
						</a>
					</div>
				</div>
			</div>
		</section>
		<!--介绍模块--学习入口介绍-->
		<section class="study">
			<div class="study_left study_position">
				<h1>寻找一些Creativity的想法和Scarcity学习资料</h1>
				<h4>通过学习之旅，找到他人推荐好的资料，发现新奇的想法，开拓视野，更有可能找到志同道合的小伙伴呢！</h4>
				<div class="study_progress">
					<div class="study_list">
						<div class="study_list_position study_circle">
							<i class="icon icon-lightbulb"></i>
						</div>
						<div class="progress progress-striped active study_list_position"
							style="width:100%;margin-top:4px">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
								aria-valuemin="0" aria-valuemax="100" style="width: 80%">
							</div>
						</div>
					</div>
					<div class="study_list">
						<div class="study_list_position study_circle">
							<i class="icon icon-lightbulb"></i>
						</div>
						<div class="progress progress-striped active study_list_position"
							style="width:100%;margin-top:4px">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
								aria-valuemin="0" aria-valuemax="100" style="width: 60%">
							</div>
						</div>
					</div>
					<div class="study_list">
						<div class="study_list_position study_circle">
							<i class="icon icon-lightbulb"></i>
						</div>
						<div class="progress progress-striped active study_list_position"
							style="width:100%;margin-top:4px">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
								aria-valuemin="0" aria-valuemax="100" style="width: 30%">
							</div>
						</div>
					</div>
					<div class="study_list">
						<div class="study_list_position study_circle">
							<i class="icon icon-lightbulb"></i>
						</div>
						<div class="progress progress-striped active study_list_position"
							style="width:100%;margin-top:4px">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
								aria-valuemin="0" aria-valuemax="100" style="width: 90%">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="study_right study_position card">
				<img src="image/index/main-banner1.webp">
			</div>
		</section>
		<!--介绍模块--分享入口介绍-->
		<section class="share">
			<div class="container">
				<div class="share_top">
					<h1>来展示你绝好的创意</h1>
				</div>
				<div class="share_bottom">
					<div class="share_exp">
						<a class="card" href="#">
							<img src="image/index/man1.webp" class="img-circle" alt="圆形图片">
							<div class="card-heading" style="color:#494c51"><strong>张无忌</strong></div>
							<div class="card-content text-muted">分享《九阳真经》，一起研究"乾坤大挪移",加入明教团队</div>
							<div class="card-actions">
								<button type="button" class="btn btn-danger share_button" style="margin-left:0"><i
										class="icon-heart"></i> 喜欢</button>
								<div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520 人喜欢</div>
							</div>
						</a>
					</div>
					<div class="share_exp">
						<a class="card" href="#">
							<img src="image/index/man2.webp" class="img-circle" alt="圆形图片">
							<div class="card-heading" style="color:#494c51"><strong>赵敏</strong></div>
							<div class="card-content text-muted">我分享了一个idea,关于如何召集六大门派</div>
							<div class="card-actions">
								<button type="button" class="btn btn-danger share_button"><i class="icon-heart"></i>
									喜欢</button>
								<div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520 人喜欢</div>
							</div>
						</a>
					</div>
					<div class="share_exp">
						<a class="card" href="###">
							<img src="image/index/man3.webp" class="img-circle" alt="圆形图片">
							<div class="card-heading" style="color:#494c51"><strong>杨逍</strong></div>
							<div class="card-content text-muted">加入明教团队，一起为张教主护法。刚刚分享了“乾坤大挪移秘籍”</div>
							<div class="card-actions">
								<button type="button" class="btn btn-danger share_button"><i class="icon-heart"></i>
									喜欢</button>
								<div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520 人喜欢</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
		<!--介绍模块--分享团队介绍-->
		<section class="team">
			<div class="container">
				<p>寻找属于你的团队</p>
				<h1>一起研发科研项目，共同成长，赶快来找志同道合的小伙伴吧</h1>
				<button class="btn btn-lg btn-danger" type="button">寻找小伙伴</button>
			</div>
		</section>
	</div>
	<!--了解我们-->
	<div class="knowus">
		<div class="container">
			<div class="knowus_ul">
				<ul>
					<li>关于团队</li>
					<li>Email</li>
					<li>个人博客</li>
				</ul>
			</div>
			<div class="knowus_ul">
				<img src="image/logo.png" />
			</div>
			<div class="knowus_ul">
				<ul>
					<li>QQ</li>
					<li>github</li>
					<li>联系我们</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 尾部-->
	<footer class="footer">
		<div class="container">
			<div class="footer-p">
				<p>©2018-2019 Powered By open-mutual-platform team</p>
			</div>
		</div>
	</footer>
	<script src="js/jquery/jquery.min.js"></script>
	<script src="js/zui.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script>
		$(function () {
			//超过一定高度导航添加类名
			var nav = $("header"); //得到导航对象  
			var win = $(window); //得到窗口对象  
			var sc = $(document); //得到document文档对象。  
			win.scroll(function () {
				if (sc.scrollTop() >= 100) {
					nav.addClass("on");
				} else {
					nav.removeClass("on");
				}
			})

			//移动端展开nav
			$('#navToggle').on('click', function () {
				$('.m_nav').addClass('open');
			})
			//关闭nav
			$('.m_nav .top .closed').on('click', function () {
				$('.m_nav').removeClass('open');
			})

			//二级导航  移动端
			$(".m_nav .ul li").click(function () {
				$(this).children("div.dropdown_menu").slideToggle('slow')
				$(this).siblings('li').children('.dropdown_menu').slideUp('slow');
			});

		})

		//var token = document.cookie.split(";")[0];
		//console.log(token);
		document.querySelector("#nav_user").addEventListener('mousemove', function () {
			document.querySelector("#header_nav_menu").style.height = "auto";
		})
		document.querySelector("#nav_user").addEventListener('mouseout', function () {
			document.querySelector("#header_nav_menu").style.height = "0";
		})
	</script>
</body>

</html>