<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/login/register.css" />
    <link rel="stylesheet" href="./css/login/normalize.min.css">
    <link rel="stylesheet" href="./css/login/style.css">
    <link href="./css/zui.css" rel="stylesheet">
    <script src="./js/jquery/jquery.min.js"></script>
    <script src="./js/jquery/jquery.serializejson.min.js"></script>
    <title>登陆</title>
</head>

<body>
<div class="container">
    <div class="header">
        <h1>Open Mutual Platform</h1>
    </div>
    <div class="div-card" id="app">
        <div class="card" id="login">
            <div class="card-content">
                <img src="./image/login.png" class="img-circle" alt="圆形图片">
                <h1>登陆</h1>
                <hr />
            </div>
            <form id="form">
                <div class="form-group">
                    <label for="exampleInputAccount" class="required">用户名</label>
                    <input type="text" class="form-control" id="exampleInputAccount" placeholder="用户名"
                           name="mobile">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="required">密码</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="密码"
                           name="password">
                </div>
                <div class="register">
                    <a href="#" id="login-register">注册</a>
                </div>
                <div class="forget">
                    <a href="forget.html">忘记密码?</a>
                </div>
                <button type="submit" class="btn btn-primary move" id="button">登陆</button>
            </form>
        </div>
        <div class="card" id="register">
            <div class="card-content">
                <img src="./image/register.png" class="img-circle" alt="圆形图片">
                <h1>创建一个新用户</h1>
                <hr />
            </div>
            <form id="form2">
                <div class="form-group">
                    <label for="exampleInputPassword2" class="required">密码</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="密码"
                           name="password2">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword3" class="required">确认密码</label>
                    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="确认密码"
                           name="confirmPassword">
                </div>
                <div class="form-group">
                    <label for="exampleInputPhone" class="required">手机号</label>
                    <input type="text" class="form-control" id="exampleInputPhone" placeholder="请输入手机号"
                           name="mobile">
                </div>
                <div>
                    <input type="text" class="form-control" id="exampleInputCode" placeholder="请输入验证码"
                           name="code">
                    <input type="button" value="获取验证码" class="code" id="code">
                </div>
                <button type="submit" class="btn btn-primary register_second" id="ReadyRegister">立即注册</button>
            </form>
        </div>
    </div>
</div>

<script>
    //第二种方法
    $("#button").click(function () {
        var arry = $("#form").serializeArray();
        var obj = {};
        for (let i = 0; i < arry.length; i++) {
            obj[arry[i].name] = arry[i]['value'];
        }
        let formdata = JSON.stringify(obj);
        console.log(obj);
        $.ajax({
            url: "http://127.0.0.1:8080/user/login",
            contentType : 'application/json',
            data: formdata,
            type: 'POST',
            method:"post",
            success: function(data){
                if(!data.code==0) {
                    new $.zui.Messager('错误信息:'+JSON.stringify(data),{
                        type:'danger',
                        placement:'bottom',
                        icon:'icon-exclamation-sign'
                    }).show();
                    //alert(JSON.stringify(data));
                }
                if(data.code==0) {
                    new $.zui.Messager('登陆成功，正在为您跳转',{
                        type:'success',
                        placement:'center',
                        icon:'icon-ok-sign'
                    }).show();
                    let token=data.data.accessToken;
                    document.cookie=token;
                    window.location.href="index.html"
                }
            },
            error:function(){
                new $.zui.Messager('网络错误或找不到服务器,错误信息',{
                    type:'danger',
                    placement:'bottom',
                    icon:'icon-exclamation-sign'
                }).show();
                //alert('网络错误或找不到服务器');
            }
        })
        return false;
    })
</script>
<script src="./js/zui.min.js"></script>
<script src="./js/login/form.js"></script>
</body>

</html>