<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index/share.css" />
    <link rel="stylesheet" href="css/zui.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <script src="js/jquery/jquery.min.js"></script>
    <title>分享</title>
</head>

<body>
    <!-- 导航 -->
    <header class="header">
        <div class="container clearfix">
            <div class="left">
                <a href="#"><img src="image/logo.png" alt="" class="img1" /></a>
            </div>
            <p class="header-p">Open Mutual Platform</p>
            <div class="nav">
                <ul class="navbar_nav" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="active">
                        <a href="javascript:void(0)">首页</a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)">
                            功能一
                        </a>
                        <div class="dropdown_menu">
                            <a href="#">Menu-one</a>
                            <a href="#">Menu-two</a>
                            <a href="#">Menu-three</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)">功能二</a>
                        <div class="dropdown_menu">
                            <a href="#">Custom Menu</a>
                            <a href="#">Custom Menu</a>
                            <a href="#">Custom Menu</a>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)">资讯</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">登陆</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">注册</a>
                    </li>
                </ul>
            </div>
            <a href="javascript:void(0)" id="navToggle">
                <span></span>
            </a>
        </div>
    </header>
    <!--移动端的导航-->
    <div class="m_nav">
        <div class="top clearfix">
            <img src="image/closed.png" alt="" class="closed" />
        </div>
        <div class="logo">
            <img src="image/logo.png" alt="" />
            <p>Open Mutual Playform</p>
        </div>
        <ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="active">
                <a href="javascript:void(0)">首页</a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">
                    功能一
                </a>
                <div class="dropdown_menu">
                    <a href="#">Menu-one</a>
                    <a href="#">Menu-two</a>
                    <a href="#">Menu-three</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">功能二</a>
                <div class="dropdown_menu">
                    <a href="#">Custom Menu</a>
                    <a href="#">Custom Menu</a>
                    <a href="#">Custom Menu</a>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)">资讯</a>
            </li>
            <li>
                <a href="javascript:void(0)">登陆</a>
            </li>
            <li>
                <a href="javascript:void(0)">注册</a>
            </li>
        </ul>
    </div>
    <!--banner-->
    <div class="banner">
        <img src="image/index/share-banner.jpg">
    </div>
    <!--main-->
    <div class="main">
        <div class="container">
            <section class="main-nav">
                <div class="persion">
                    <div class="persionbox">
                        <a class="card" href="###">
                            <img src="image/index/man1.webp">
                            <div class="card-actions">
                                <button type="button" class="btn btn-danger share_button" style="margin-left:0"><i
                                        class="icon-heart"></i> 喜欢</button>
                                <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520 人喜欢</div>
                            </div>
                        </a>
                    </div>
                    <div class="persionbox">
                        <a class="card" href="###">
                            <div class="card-heading" style="color:#494c51;font-size:20px"><strong>张无忌</strong></div>
                            <div class="card-content text-muted">
                                <h1 style="border-bottom:1px solid #e5e5e5;margin:10px auto">个人签名</h1>
                                分享《九阳真经》，一起研究"乾坤大挪移",加入明教团队
                            </div>
                        </a>
                    </div>
                    <div class="persionbox boxicon">
                        <a href="#"> <i class="icon icon-cog  icon-3x"></i></a>
                    </div>
                </div>
            </section>
            <!--类型导航-->
            <section class="main-nav">
                <nav class="navbar" role="navigation">
                    <div class="container-fluid">
                        <!-- 导航头部 -->
                        <div class="navbar-header">
                            <!-- 移动设备上的导航切换按钮 -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse-example">
                                <span class="sr-only">切换导航</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- 品牌名称或logo -->
                            <a class="navbar-brand" href="#">OPEN MUTUAL PLATFORM</a>
                        </div>
                        <!-- 导航项目 -->
                        <div class="collapse navbar-collapse navbar-collapse-example">
                            <!-- 一般导航项目 -->
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">分享灵感</a></li>
                                <li><a href="#">上传资源</a></li>
                            </ul>
                        </div><!-- END .navbar-collapse -->
                    </div>
                </nav>
            </section>
            <!--富文本编辑器-->
            <section class="editor">
                <div id="Editor"></div>
            </section>
            <div class="hint" style="display:none">
                <div class="alert alert-danger-inverse with-icon">
                    <i class="icon-remove-sign"></i>
                    <div class="content">
                        <h4>不好了! 遇到了一些问题</h4>
                        <p>暂且不支持移动端的富文本编辑，请在电脑或平板上发布文章</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 尾部-->
    <footer class="footer">
        <div class="container">
            <div class="footer-p">
                <p>©2018-2019 Powered By open-mutual-platform team</p>
            </div>
        </div>
    </footer>

    <!--js-->
    <script src="js/zui.min.js"></script>
    <script src="js/wangEditor.min.js"></script>
    <script>
        $(function () {
            //超过一定高度导航添加类名
            var nav = $("header"); //得到导航对象  
            var win = $(window); //得到窗口对象  
            var sc = $(document); //得到document文档对象。  
            win.scroll(function () {
                if (sc.scrollTop() >= 100) {
                    nav.addClass("on");
                } else {
                    nav.removeClass("on");
                }
            })

            //移动端展开nav
            $('#navToggle').on('click', function () {
                $('.m_nav').addClass('open');
            })
            //关闭nav
            $('.m_nav .top .closed').on('click', function () {
                $('.m_nav').removeClass('open');
            })

            //二级导航  移动端
            $(".m_nav .ul li").click(function () {
                $(this).children("div.dropdown_menu").slideToggle('slow')
                $(this).siblings('li').children('.dropdown_menu').slideUp('slow');
            });

        })
    </script>
    <script>
        let E = window.wangEditor
        let editor = new E('#Editor')
        editor.create()
    </script>
</body>

</html>