<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index/share.css" />
    <link rel="stylesheet" href="css/zui.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/zui.uploader.css" />
    <link rel="stylesheet" href="css/editormd.css" />
    <title>分享</title>
</head>

<body>
    <!-- 导航 -->
    <header class="header">
        <div class="container clearfix">
            <div class="left">
                <a href="index.html"><img src="image/logo.png" alt="" class="img1" /></a>
            </div>
            <p class="header-p">Open Mutual Platform</p>
            <div class="nav">
                <ul class="navbar_nav" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="active">
                        <a href="index.html">首页</a>
                    </li>
                    <li>
                        <a href="study.html">study</a>
                    </li>
                    <li>
                        <a href="share.html">share</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">team</a>
                    </li>
                    <li>
                        <a href="user.html">个人主页</a>
                    </li>
                    <li>
                        <a href="login.html">登陆</a>
                    </li>
                </ul>
            </div>
            <a href="javascript:void(0)" id="navToggle">
                <span></span>
            </a>
        </div>
    </header>
    <!--移动端的导航-->
    <div class="m_nav">
        <div class="top clearfix">
            <img src="image/closed.png" alt="" class="closed" />
        </div>
        <div class="logo">
            <img src="image/logo.png" alt="" />
            <p>Open Mutual Playform</p>
        </div>
        <ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="active">
                <a href="index.html">首页</a>
            </li>
            <!--<li class="dropdown">-->
            <!--<a href="st'">-->
            <!---->
            <!--</a>-->
            <!--&lt;!&ndash;<div class="dropdown_menu">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#">Menu-one</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#">Menu-two</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#">Menu-three</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</li>-->
            <li class="dropdown">
                <a href="study.html)">study</a>
                <!--<div class="dropdown_menu">-->
                <!--<a href="#">Custom Menu</a>-->
                <!--<a href="#">Custom Menu</a>-->
                <!--<a href="#">Custom Menu</a>-->
                <!--</div>-->
            </li>
            <li>
                <a href="share.html">share</a>
            </li>
            <li>
                <a href="javascript:void(0)">team</a>
            </li>
            <li>
                <a href="user.html">个人主页</a>
            </li>
            <li>
                <a href="login.html">登录</a>
            </li>
        </ul>
    </div>
    <!--banner-->
    <div class="banner">
        <img src="image/index/share-banner.jpg">
    </div>
    <!--main-->
    <div class="main">
        <div class="container">
            <section class="main-nav">
                <div class="persion">
                    <div class="persionbox">
                        <a class="card" href="###">
                            <img src="image/index/man1.webp">
                            <div class="card-actions">
                                <button type="button" class="btn btn-danger share_button" style="margin-left:0"><i
                                        class="icon-heart"></i> 喜欢</button>
                                <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520 人喜欢</div>
                            </div>
                        </a>
                    </div>
                    <div class="persionbox">
                        <a class="card" href="###">
                            <div class="card-heading" style="color:#494c51;font-size:20px"><strong>张无忌</strong></div>
                            <div class="card-content text-muted">
                                <h1 style="border-bottom:1px solid #e5e5e5;margin:10px auto">个人签名</h1>
                                分享《九阳真经》，一起研究"乾坤大挪移",加入明教团队
                            </div>
                        </a>
                    </div>
                    <div class="persionbox boxicon">
                        <a href="#"> <i class="icon icon-cog  icon-3x"></i></a>
                    </div>
                </div>
            </section>
            <!--类型导航-->
            <section class="main-nav">
                <nav class="navbar" role="navigation">
                    <div class="container-fluid">
                        <!-- 导航头部 -->
                        <div class="navbar-header">
                            <!-- 移动设备上的导航切换按钮 -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse-example">
                                <span class="sr-only">切换导航</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- 品牌名称或logo -->
                            <a class="navbar-brand" href="#">OPEN MUTUAL PLATFORM</a>
                        </div>
                        <!-- 导航项目 -->
                        <div class="collapse navbar-collapse navbar-collapse-example">
                            <!-- 一般导航项目 -->
                            <ul class="nav navbar-nav nav-tabs">
                                <li class="active"><a data-tab href="#tabContent1">分享灵感</a></li>
                                <li><a data-tab href="#tabContent2">上传资源</a></li>
                            </ul>
                        </div><!-- END .navbar-collapse -->
                    </div>
                </nav>
            </section>
            <div class="tab-content">
                <div class="tab-pane active" id="tabContent1">
                    <!--富文本编辑器-->
                    <!-- <section class="editor">
                                <div id="Editor"></div>
                            </section> -->
                    <div id="content-editormd" class="form-group">
                        <textarea style="display: none;" class="form-control" id="content-editormd-markdown-doc"
                            name="content-editormd-markdown-doc"></textarea>
                    </div>
                    <div class="hint" style="display:none">
                        <div class="alert alert-danger-inverse with-icon">
                            <i class="icon-remove-sign"></i>
                            <div class="content">
                                <h4>不好了! 遇到了一些问题</h4>
                                <p>暂且不支持移动端的Markdown编辑，请在电脑或平板上发布文章</p>
                            </div>
                        </div>
                    </div>
                    <!--表单提交-->
                    <section>
                        <form class="form-horizontal">
                            <div class="form-group" id="label">
                                <label for="exampleInputType" class="col-sm-2">标签(文章类型)</label>
                                <div class="col-md-6 col-sm-10">
                                    <!--<input type="text" class="form-control" id="exampleInputType"-->
                                        <!--placeholder="起一个引人注目的标签吧" name="articleType">-->
                                    <select style="width:100%;height:30px;border-radius:4px;border:1px solid #38b03f;" id="exampleInputType" @change="changeLable()" value="1">
                                        <option v-for="labels in label.data" :value="labels.typeId">{{labels.typeName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputtitle" class="col-sm-2">文章标题</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="exampleInputtitle" placeholder="文章标题"
                                        name="title">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="switch" style="margin-left:170px;">
                                    <input type="checkbox" class="col-md-1" name="visual" checked value="0"
                                        id="exampleInputcheck" />
                                    <label>设置文章是否可见</label>
                                </div>
                            </div>
                            <textarea id="exampleMarkdown" name="content" value="" style="display:none"></textarea>
                            <input type="hidden" name="accessToken" id="token"/>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" class="btn btn-default" id="set">发布</button>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                <div class="tab-pane" id="tabContent2">
                    <div id='uploaderHorder' class="uploader" data-ride="uploader" data-url="your/file/upload/url">
                        <div class="uploader-message text-center">
                            <div class="content"></div>
                            <button type="button" class="close">×</button>
                        </div>
                        <div class="uploader-files file-list file-list-lg" data-drag-placeholder="请拖拽文件到此处"></div>
                        <div class="uploader-actions">
                            <div class="uploader-status pull-right text-muted"></div>
                            <button type="button" class="btn btn-link uploader-btn-browse"><i
                                    class="icon icon-plus"></i> 选择文件</button>
                            <button type="button" class="btn btn-link uploader-btn-start"><i
                                    class="icon icon-cloud-upload"></i> 开始上传</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 尾部-->
    <footer class="footer">
        <div class="container">
            <div class="footer-p">
                <p>©2018-2019 Powered By open-mutual-platform team</p>
            </div>
        </div>
    </footer>

    <!--js-->
    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/zui.min.js"></script>
    <script src="js/vue/vue.min.js"></script>
    <script src="js/vue/vue-resource.min.js"></script>
    <!-- <script src="js/wangEditor.min.js"></script> -->
    <script src="js/editormd.min.js"></script>
    <script src="js/zui.uploader.min.js"></script>
    <script src="js/index/share.js"></script>
</body>

</html>