<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>OpenMutualPlatform--study</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/index/swiper.min.css" />
    <link href="css/zui.css" rel="stylesheet">
    <link href="css/index/study.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/editormd.css" />
</head>

<body>
    <!-- 导航 -->
    <header class="header">
        <div class="container clearfix">
            <div class="left">
                <a href="index.html"><img src="image/logo.png" alt="" class="img1" /></a>
            </div>
            <p class="header-p">Open Mutual Platform</p>
            <div class="nav">
                <ul class="navbar_nav" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="active">
                        <a href="index.html">首页</a>
                    </li>
                    <li>
                        <a href="study.html">study</a>
                    </li>
                    <li>
                        <a href="share.html">share</a>
                    </li>
                    <li>
                        <a href="team.html">team</a>
                    </li>
                    <li>
                        <a href="user.html">个人主页</a>
                    </li>
                    <li id="login">
                        <a href="login.html">登陆</a>
                    </li>
                </ul>
            </div>
            <!--登陆后个人信息-->
            <!-- <div id="nav_user" class="header_nav_persion" @mousemove="UserMove()" @mouseout="UserOut()">
                <a href="#" class="">
                    <img width="40" height="40" :src="'avatar/'+user.userAvatar" id="header_nav_img">
                </a>
                <div class="menu" id="header_nav_menu" style="height: 0;overflow:hidden;">
                    <div class="group"><a href="user.html"><span class="icon icon-user"></span>个人中心</a></div>
                    <div class="group"><a href="userset.html"><span class="icon icon-cogs"></span>帐号设置</a></div>
                    <div class="group"><a href="#" @click="quit_log"><span class="icon icon-signin"></span>退出</a></div>
                </div>
            </div> -->
            <a href="javascript:void(0)" id="navToggle">
                <span></span>
            </a>
        </div>
        <input type="hidden" name="accessToken" id="token" />
    </header>
    <!--移动端的导航-->
    <div class="m_nav">
        <div class="top clearfix">
            <img src="image/closed.png" alt="" class="closed" />
        </div>
        <div class="logo">
            <img src="image/logo.png" alt="" />
            <p>Open Mutual Playform</p>
        </div>
        <ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="active">
                <a href="index.html">首页</a>
            </li>
            <li class="dropdown">
                <a href="study.html">study</a>
            </li>
            <li>
                <a href="share.html">share</a>
            </li>
            <li>
                <a href="team.html">team</a>
            </li>
            <li>
                <a href="user.html">个人主页</a>
            </li>
            <li>
                <a href="login.html">登录</a>
            </li>
        </ul>
    </div>
    <!--banner-->
    <div class="banner">
        <img src="image/banner/04.jpg">
    </div>
    <!--main-->
    <div class="main" id="main">
        <div class="container">
            <!--描述-->
            <section class="describe">
                <p>开启学习之旅</p>
                <h4>欢迎你开启了新的冒险，在这里你可以找到许多有趣的想法和宝贵的资源，现在开始你的冒险吧</h4>
            </section>
            <!--类型导航-->
            <section class="main-nav">
                <nav class="navbar" role="navigation">
                    <div class="container-fluid">
                        <!-- 导航头部 -->
                        <div class="navbar-header">
                            <!-- 移动设备上的导航切换按钮 -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse-example">
                                <span class="sr-only">切换导航</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- 品牌名称或logo -->
                            <a class="navbar-brand" href="#">OPEN MUTUAL PLATFORM</a>
                        </div>
                        <!-- 导航项目 -->
                        <div class="collapse navbar-collapse navbar-collapse-example">
                            <!-- 一般导航项目 -->
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">灵感</a></li>
                                <li><a href="#">资源</a></li>
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="搜索">
                                    </div>
                                    <button type="submit" class="btn btn-info">搜索</button>
                                </form>
                            </ul>
                        </div><!-- END .navbar-collapse -->
                    </div>
                </nav>
            </section>
            <!--列表-->
            <section class="content">
                <div class="list" id="list">
                    <header>
                        <h3 style="display:inline-block"><i class="icon-list-ul"></i> 编辑推荐<small></small></h3>
                        <span class="text-muted" id="time"></span>
                    </header>
                    <div class="items items-hover" id="vue_item">
                        <div class="item" v-for="items in lists.data">
                            <div class="item-heading">
                                <div class="pull-right"><span class="text-muted">{{items.updatedAt | capitalize}}</span>
                                    &nbsp; <a href="#" class="text-muted"><i class="icon-comments"></i>230</a></div>
                                <h4><a :href="'article.html?'+items.articleId">{{items.title}}</a></h4>
                            </div>
                            <div class="item-content" style="display:flex">
                                <span class="icon icon-eye-open"></span>
                                <div class="text" style="margin-left:10px">点击进入查看详情</div>
                            </div>
                        </div>
                    </div>
                </div>`
                <span class="icon-arrow-up icon-2x" style="position: fixed;right:10px;bottom:50px;color: cornflowerblue;cursor:pointer" v-show="up" @click="uphtml"></span>
                <div data-loading="正在加载..." class="load-indicator" id="loadIndicator1"></div>
            </section>
        </div>
    </div>
    <!-- 尾部-->
    <footer class="footer">
        <div class="container">
            <div class="footer-p">
                <p>©2018-2019 Powered By open-mutual-platform team</p>
            </div>
        </div>
    </footer>

    <!--js-->
    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/vue/vue.min.js"></script>
    <script src="js/vue/vue-resource.min.js"></script>
    <script src="js/zui.min.js"></script>
    <!---markdown--begin-->
    <script src="js/editormd.min.js"></script>
    <script src="lib/marked.min.js"></script>
    <script src="lib/prettify.min.js"></script>
    <script src="lib/raphael.min.js"></script>
    <script src="lib/underscore.min.js"></script>
    <script src="lib/sequence-diagram.min.js"></script>
    <script src="lib/flowchart.min.js"></script>
    <script src="lib/jquery.flowchart.min.js"></script>
    <!--markdown-over-->
    <script src="js/swiper.min.js"></script>
    <script src="js/index/study.js"></script>
</body>

</html>