<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/vue/vue.min.js"></script>
    <script src="js/vue/vue.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <p v-for="item in filteredItems">{{ item }}</p>
    </div>


    <script>
        var app = new Vue({
            el: '#app',
            computed: {
                filteredItems: function () {
                    return this.items.slice(0, 10)
                }
            },
            data:{
                item:{1,2,3,4,5,6,7,8}
            }

        })
    </script>
</body>

</html>